<% include ./partials/head %>
<!-- Basic right 75% structure has for div's for each section to render -->
<body>
<a href="http://bootsnipp.com/fullscreen/x3p9" target="_blank">
   <div class="page-header">
       <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img src="../../../images/microsoft.png" alt="Microsoft" height="23">
                    </a>
                </div>
       </div>
        <div class="navbar-local color-accent theme-dark">
            <div class="container">
                <div class="row">
                <div class="col-xs-24">
                    <h2 class="fixName" style="color:white;"><%= welcomeMessage %></h2>
                    <p></p>
                    
                </div>
            </div>
        </div>
    </div>
   </div>
<div class="container">
<div class="row">
                <div class="col-xs-24">              
                  <section class="section">
                      <div class="row m-t-md">
                        <% include ./partials/leftnavigation %>
                        
                        <div class="col-xs-18 col-md-18 navigation-section">

                            <div class="col-xs-24 col-md-24 navigation-section">
                                <a name="introduction"></a>
                                <p><%- content.introduction %></p>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%- content.presentations %>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%- content.videos %>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%- content.resources %>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%- content.assignments %>
                            </div>

                            <span id="top-link-block" class="hidden">
                                <h3><a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
                                    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
                                </a></h3>
                            </span>
                        </div>
                      </div>                        
                    </div>
                </section>
            </section>
        </div>
    </div>

   </div>

</body>
</html>
