<!DOCTYPE html>
<html>
<head>
    <title>LEAP</title>
</head>
<link rel="stylesheet" type="text/css" href="../dist/css/winstrap.css">

<body>
   <div class="page-header">
       <div class="container">
                <div class="navbar-header">
                    <a href="http://www.microsoft.com" class="navbar-brand">
                        <img src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-11008/shell/v3/images/logo/microsoft.png" alt="Microsoft" height="23">
                    </a>
                </div>
       </div>
        <div class="navbar-local color-accent theme-dark">
            <div class="container">
                <div class="row">
                <div class="col-xs-24">
                    <h2 style="color:white;">Path</h2>
                    <p></p>
                    
                </div>
            </div>
        </div>
    </div>
   </div>
<div class="container">
<div class="row">
                <div class="col-xs-24">              
                  <section class="section">
                    <h3><%= welcomeMessage %></h3>
                      <div class="row m-t-md">
                        <% include ./partials/leftnavigation %>
                        <div class="col-xs-24 col-md-18 navigation-section">

                            <div class="col-xs-24 col-md-24 navigation-section">
                                <p><%= content.introduction.text %></p>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%= content %>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%= content %>
                            </div>
                            <div class="col-xs-24 col-md-24 navigation-section">
                                <%= content %>
                            </div>

                        </div>
                      </div>                        
                    </div>
                </section>
            </section>
        </div>
    </div>
   </div>
   <script src="../dist/js/vendor/jquery.min.js"></script>
   <script src="../dist/js/vendor/bootstrap.min.js"></script>


</body>
</html>
