<hr>
<a class="noLink" id="presentations"></a>
<h3>Powerpoints</h3>
<div class="row">
 <div class="col-xs-24 col-md-24 navigation-section">
 <ul >
<%if(data[0]){ %>
            <li class="main">
                <a id="mainPresentation" class="presentation" href='/files/<%=subjectName%>/<%=subTopic%>/presentations/<%=data[0]%>'> <%=data[0]%> </a>
            </li>
<%} else { %>
            <li> No Presentations Yet </li> 
<%}%>
</ul>
 </div>
<div class="row">
<div class="col-xs-24 col-md-24 navigation-section">
    <ul>

        <% for(var i=1; i < data.length; i++) {%>
            <li class="secondary">
                <a class="presentation" href='/files/<%=subjectName%>/<%=subTopic%>/presentations/<%=data[i]%>'> <%=data[i]%> </a>
            </li> 
            <% } %>
    </ul>
</div>
</div> 